// scenarioA.slim configuration file for SLiM
initialize() {
   initializeMutationRate(5e-5);
   initializeMutationType("m1", 0.5, "f", 0.0);
   initializeGenomicElementType("g1", m1, 1.0);
   initializeGenomicElement(g1, 0, 9999);
   initializeRecombinationRate(1e-4);
}
1 { sim.addSubpop("p1", 4000); }
5000 {
   sim.addSubpopSplit("p2", 2000, p1);
   sim.addSubpopSplit("p3", 100, p1);
   sim.addSubpopSplit("p4", 100, p1);
   sim.addSubpopSplit("p5", 100, p1);
   sim.addSubpopSplit("p6", 100, p1);
   p1.setSubpopulationSize(0);
}
5025{
	//equivalent to the sampling of 20 individuals to set the metapop file
	p2.setSubpopulationSize(40);
	p3.setSubpopulationSize(40);
	p4.setSubpopulationSize(40);
	p5.setSubpopulationSize(40);
	p6.setSubpopulationSize(40);
}
5025 late() {
	//Output SNPs in metapop Format
	snpFile="SETname.snp.mtp";
	g = sim.subpopulations.genomes;
	m = unique(sortBy(g.mutations,"position").position);
	loci=size(m);

	writeFile(snpFile,"n " + size(sim.subpopulations) + "\n",append=F);
	writeFile(snpFile,"nloci " + loci + "\n",append=T);
	index=1;
	s=1;
	for (sub in sim.subpopulations){
		writeFile(snpFile,"Pop" + s + "\n",append=T);
		s=s+1;
		n=sub.individualCount;
		writeFile(snpFile,"N " + n + "\n",append=T);
		writeFile(snpFile,"Ne " + n + "\n",append=T);
		writeFile(snpFile,"NewN " + n/2 + " " + n/2 + "\n",append=T);
		pos=0;
		for (i in sub.individuals){
			indString=index + " [" + index + "] ";
			if (pos < n/2) indString=indString+"0  ";
			else indString=indString+"1  ";
			pos=pos+1;
			x=1;
			for (genome in i.genomes)
			{
				if(x==1) hasMuts1 = asInteger(match(m, genome.mutations.position) >= 0)+1;
				if(x==2) hasMuts2 = asInteger(match(m, genome.mutations.position) >= 0)+1;
				x = x+1;
 			}
			for (l in 0:(loci-1)) indString=indString+hasMuts1[l] + " " + hasMuts2[l] + "  ";

			writeFile(snpFile,indString + "\n",append=T);
			index = index + 1;

		}
	}
}
